table {
    width: 500px;
    border-spacing: 4px;
    margin: 10px;
}

th {
    text-align: left;
}

table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

th, td {
    padding: 2px;
}


form {
    width: 320px;
    border: 1px solid rgb(0, 0, 02);
    margin: 10px;
    padding: 5px;
}

label, input {
    display: block;
}

input {
    margin-bottom: 5px;
}